In [ ]:
import pandas as pd
import numpy as np

from numpy.testing import assert_almost_equal
from numpy.testing import assert_equal

from numpy.testing import assert_array_almost_equal
from numpy.testing import assert_array_equal

# Projeto 1 - SQL

## Entrega:

Neste projeto, vamos trabalhar com SQL na base de dados do IMDB.

## Objetivos
- Explorar e extrair informação relevante da base de dados com funções SQL
- Realizar limpeza e transformação de dados usando funções de string e regex
- Usar os dados limpos para análise, usando joins, aggregations e window functions

**Atenção:** Se em algum momento do projeto o estado interno da base de dados, ou suas tabelas forem modificadas de uma maneira indesejada, reinicie o kernel, reinicie o container docker e importe os dados novamente.

## Distribuição dos pontos

|Question| Points |
|---|--------|
|1a| 1      |
|1b| 1.5    |
|1c| 1      |
|1d| 1      |
|2a| 1.5    |
|2b| 2.5    |
|2c| 2.5    |
|3a| 1.5    |
|3b| 1      |
|3c| 1      |
|3d| 1      |
|4a| 1      |
|4b| 1      |
|4c| 1      |
|5| 1.5    |
|**Total**| 20     |

## Importante

<div class="alert alert-block alert-info">
<p><b>Pré-requisitos</b> Para este projeto, será assumido que você tenha o postgreSQL instalado. Você pode usar uma instalação local ou um docker container, como indicado nos passos da configuração da base de dados.</p>
</div>

## Configuração da base de dados
**Caso você já tenha o postgreSQL instalado na sua máquina, comece do passo 3.**
1. Inicialize o container:
```docker-compose -f postgres-docker-compose.yaml up ```

2. Entrar no terminal do container:
```docker exec -it database bash```

3. Inicializar a base de dados:
    - Apagar a base de dados imdb se ela existir:
    ```psql -U postgres -h localhost -c 'DROP DATABASE IF EXISTS imdb'```
    - Criar a base de dados para importar os arquivos
    ```psql -U postgres -h localhost -c 'CREATE DATABASE imdb' ```
    - Importar o arquivo `imdb.sql`
    ```psql -U postgres -h localhost -d imdb -f data/imdbdb.sql```

In [ ]:
%reload_ext sql

In [ ]:
%sql postgresql://postgres:postgres@127.0.0.1:5432/imdb

# ```information_schema```

Um **schema** é um namespace de tableas na base de dados, geralmente usado por questões de segurança. Para ver quantos schemas estão definidos na nossa base de dados, basta correr o comando:

In [ ]:
%%sql
SELECT *
FROM information_schema.schemata;

Em uma base de dados Postgres, geralmente há três schemas:
* `public`
* `pg_catalog`
* `information_schema`
* O quarto schema `pg_toast` guarda dados que não podem ser armazenados de maneira regular em relações, como valores de dados muito grandes. Veja a documentação [aqui](https://www.postgresql.org/docs/current/storage-toast.html)

In [ ]:
%%sql
SELECT *
FROM information_schema.tables
WHERE table_schema = 'public';

# Questão 1: Análise Exploratória de Dados (EDA)

Uma das primeiras coisas que queremos fazer com uma tabela de uma base de dados é entender seus metadados: nomes de colunas e tipos, e número de linhas.

## Tutorial

**Para docker container o terminal refere-se ao terminal do container**

Nós podemos usar o meta comando `\d` para obter uma descrição da base de dados. Para isto, você precisa usar o terminal para fazer a conexão com a base de dados imdb.
No terminal digite:
```
psql postgresql://postgres:postgres@127.0.0.1:5432/imdb
```
Com este comando, vocês realizarão a conexão com a base de dados `imdb`.
No terminal, digite o comando
```
\d
```

Também conseguimos obter informações sobre as tabelas de maneira individual com o comando `\d`.

```
\d movie_info_sample
```

Há quatro atributos neste esquema, sendo o `id` um deles. Quais são os outros atributos?

**Responda textualmente aqui**:

```sua resposta aqui```

Para explorar a base de dados vocês podem sempre utilizar o comando '\d' no terminal do PostgreSQL, ou usando um software que exiba as mesmas propriedades, como o DBeaver, por exemplo.

<br><br>

---

## Questão 1b

Vamos continuar com a nossa exploração inicial da tabela, Quantas linhas existem na tabela?
Atribua à variável `result_1b` o resultado da query SQL usada para calcular o número de linhas na tabela `movie_info_sample`. Então, atribua à variável `count_1b` o número inteiro que representa o número de linhas obtidos na query.

In [ ]:
%%sql result_1b <<
-- escreva sua query aqui

In [ ]:
count_1b =

In [ ]:
assert_equal(2433431, count_1b)

<br><br>

---

## Question 1c: Amostra aleatória da tabela

Agora que sabemos um pouco sobre os metadados da tabela, vamos buscar amostras aleatórias da tabela `movie_info_sample` para explorar o seu conteúdo.

Sabendo que você já sabe o tamanho da tabela, **escreva uma query que retorne 5 tuplas usando o método `BERNOULLI`*. Ou seja, se nós corrermos a query várias vezes, nós devemos obter 5 tuplas em média da tabela resultante. O método `BERNOULLI` pesquisa a tabela inteira e seleciona linhas individualmente independentes com probabilidade `p%`. Leia a [documentação](https://www.postgresql.org/docs/15/sql-select.html) para informação sobre a sintaxe.

**Dicas/Detalhes**

* Atribua à variável `p_1c` para uma sampling rate que você passe para a `query_1c` usando uma f-string para substituir o valor. Sua fórmula deve conter `count_1b`. Não se esqueça de converter `p_1c` para unidades de porcentatem, ou seja, `p_1c = 0.03` é 0.03%.
* Para entender como as fstrings funcionam, assim como a substituição de variáveis em fstrings, veja [este tutorial](https://www.geeksforgeeks.org/formatted-string-literals-f-strings-python/). Se a substituição da variável for feita corretamente, nós devemos ser capazes de substituir o nosso `p%` apenas alterando o `p_1c` e correndo novamente a query.

In [ ]:
p_1c = 
query_1c = f"SELECT * FROM movie_info_sample TABLESAMPLE " # altere esta query

In [ ]:
# Não altere as linhas abaixo
results = []
for i in range(20):
    result_1c = %sql {{query_1c}}
    results.append(len(result_1c))

assert_almost_equal(5, np.mean(results),0)

<br><br>

---

## Question 1d: Random sample, número fixo de linhas

Se um número aleatório de linhas não é importante, uma maneira mais eficiente para obter tuplas arbitrárias de uma tabela é usar as cláusulas `ORDER BY` e `LIMIT`. Na próxima célula, obtenha 5 linhas **aleatórias** da tabela `movie_info_sample`. Comparando com o resultado anterior, o seu resultado deveria ter sempre 5 tuplas.

In [ ]:
query_1d = f"SELECT * FROM movie_info_sample " # altere esta query

In [ ]:
# Não altere as linhas abaixo
results = []
for i in range(2):
    result_1d = %sql {{query_1d}}
    results.append(len(result_1d))

assert_equal(5, np.mean(results),0)

<br/><br/><br/>
<hr style="border: 1px solid #fdb515;" />


# Questão 2: Data Cleaning

A tabela `movie_sample` contém pouca informação por filme:

In [ ]:
%sql SELECT * FROM movie_sample LIMIT 5;

Nesta questão nós vamos criar uma view de `movie_sample` que também inclua uma coluna com a avaliação dos filmes, chamada `movie_ratings`.

O [MPAA rating](https://www.motionpictures.org/film-ratings/) é normalmente incluído na maioria das base de dados sobre filmes, incluindo o deste projeto, mas, no formato atual, é difícil extrair esta informação.

A primeira dica para é olhar para as linhas aleatórias da Questão 1. Você já viu que a tabela `movie_info_sample` contem muita informação sobre cada filme. Cada linha contem um tipo particular de informação (por exemplo, `runtime`, `languages`) categirizados pelo `info_type_id`. Baseado nas outras tabelas desta base de dados, a tabela `info_type` é uma referência para este número de ID.

Então a estratégia para esta questão é:
* **Questão 2a**: encontrar o `mpaa_rating_id` da tabela `info_type`.
* **Questão 2b**: extrair o MPAA de um filme específico da tabela `movie_info_sample`.
* **Questão 2c**: Construir a view `movie_ratings` baseado na tabela `movie_sample`e todos os MPAA ratings extraídos da tabela `movie_info_sample`.

<br><br>

---

## Questão 2a: MPAA Rating e `info_type`

Para começar, usando a tabela `info_type`, escreva uma query para encontrar o `id` que  corresponde ao MPAA rating do filme. A query `result_2a` que você escrever deve retornar a relação com exatamente uma linha e um atributo; o valor solitário da instância deve ser um MPAA rating e o id correspondente. Este valor deve ser armazenado na variável `mpaa_rating_id` para usar posteriormente.

**Dicas:**
- Abra o cliente `psql` no terminal para explorar o schema de `info_type` através do comando `\d`. Lembre-se que você também pode escrever comandos SQL neste terminal para interagir com a base de dados IMDB, mas o trabalho final deve ser submetido neste Jupyter Notebook.
- Cuidado ao usar plicas. O SQL interpreta plicas e aspas de maneira diferente. a plica `'` é reservada para delimitar strings, enquanto as aspas `"`é usada para nomear tabelas ou colunas que precisam de caracteres especiais. Veja a [documentação](https://www.postgresql.org/docs/current/sql-syntax-lexical.html) para mais informação.

In [ ]:
%sql -- escreva sua query aqui

In [ ]:
result_2a = %sql -- escreva a sua query aqui
mpaa_rating_id = 

# não edite as linhas abaixo
display(result_2a)
mpaa_rating_id

<br><br>

---

## Questão 2b: Buscando o MPAA Rating

Suponha que nós quiséssemos encontrar o MPAA rating para o clássico de 2004 _Mean Girls_. O código abaixo atribui `movie_id_2b` para o IMDB id deste filme, 2109683.

In [ ]:
# Execute a célula abaixo
movie_id_2b = 2109683
%sql SELECT * FROM movie_sample WHERE id = {{movie_id_2b}};

Na próxima célula, escreva uma query para encontrar o rating MPAA para este filme. Sua query deve retornar exatamente uma linha, com `(info, mpaa_rating)`, onde `info` é a string MPAA do `movie_info_sample` e `mpaa_rating` é a classificação etária deste filme (`PG-13`, `PG`, etc).

Antes de começar:
* Explore a tabela `movie_info_sample` correspondentes ao MPAA usando o DBeaver, o terminal ou executando SQL no notebook. O campo `info` é um pouco maior que apenas a classificação. Isto também inclui uma explicação para a classificação do filme.
* Você precisa extrair uma substring tha coluna `info` da tabela `movie_info_sample`; você pode usar [funções de string](https://www.postgresql.org/docs/current/functions-string.html) no PostgreSQL. Existem várias soluções possíveis. Uma solução possívels é usar regex para fazer as substrings. Se você quiser fazer isso, [esta seção sobre regex](https://www.postgresql.org/docs/current/functions-matching.html#FUNCTIONS-POSIX-REGEXP) será particularmente útil. [regex101.com](https://regex101.com) também pode ser útil.
* Você deve usar `mpaa_rating_id` e `movie_id_2b` diretamente para o resto das questões usando substituição por variável.

In [ ]:
%%sql 
-- sua query aqui

Você pode usar a variável `mpaa_rating_id` diretamente no resto das questões usando fstrings e substituição.

---

## Questão 2c

Na próxima célula,
1. Construa uma view chamada `movie_ratings` contendo uma linha por filme, cada uma com `(movie_id, title, info, mpaa_rating)`, onde `info` é a string completa com a classificação MPAA de `movie_info_sample` e `mpaa_rating` é apenas a classificação (por exemplo, `R`, `PG-13`, `PG`, etc.).
* Em outras palavras, acrescentar a informação da tabela `movie_sample` com a classificação MPAA para todos os filmes.
2. Seguindo a definição de view, escreva uma query `SELECT` para retornar as **primeiras 20 linhas** da view, ordenada crescentemente pelo `movie_id`.

In [ ]:
%%sql result_2c <<
DROP VIEW IF EXISTS movie_ratings;
CREATE VIEW movie_ratings AS (
)

<br/><br/><br/>

<hr style="border: 1px solid #fdb515;" />

# Question 3: Faturamento

Uma medida de sucesso do filme é o seu faturamento. Se nós olharmos para a tabela `info_table`, nós temos informação sobre o faturamento bruto de um filme e o custo. Seria importante saber quanto de dinheiro um filme faturou usando a fórmula de lucro (profit):

$$profit = earnings - moneyspent$$

Vamos começar olhando para a informação sobre o faturamento bruto, com `info_type_id = 107`

In [ ]:
%%sql
SELECT *
FROM movie_info_sample
WHERE info_type_id = 107
ORDER BY id
LIMIT 10 OFFSET 100000;

Tem muitas coisas para observarmos aqui. A primeira de todas é que os valores no atributo `info` são strings e não apenas o faturamento, mas também o país e o mês de faturamento acumulado até então. Adicionalmente, os valores de info não estão na mesma moeda. Além disso, parece que um pouco do faturamento bruto, mesmo para aqueles em USD são de vendas ao redor do mundo, enquanto outros contam apenas as vendas nos Estados Unidos.

Por consistência, vamos usar apenas filmes com faturamento bruto contado dentro dos Estados Unidos que estão em USD.

<br><br>

---

## Questião 3a: Faturamento

Nós queremos a parte numérica da coluna `info` e o **maximum earnings value** para um filme particular.

Na célula seguinte:
- Construir uma view chamada `movie_gross` contendo uma linha para cada filme, com os atributos `(gross, movie_id, title)`, onde `gross` é o valor numérico extraído como float. Some os valores nos casos em que um mesmo filme tenha mais de um `gross` value.
- Para olhar para nossos dados limpos, escreva uma query `SELECT` para mostrar os primeiros resultados dos 10 filmes que mais faturaram, por `movie_gross`.

**Dicas:**
- A maneira de extrair o MPAA é muito similar com a maneira que queremos isolar o valor numérico da string. (Há várias maneiras de fazer isso.)
- Olhe a [documentação](https://www.postgresql.org/docs/9.4/functions-matching.html) para a função `regexp_replace`, especificamente a 'flag g'.

In [ ]:
%%sql result_3a <<

DROP VIEW IF EXISTS movie_gross;
CREATE VIEW movie_gross AS (
-- coloque a sua query aqui
)

<br/>

---

## Tutorial: Budget
Nós vamos olhar agora para o tipo budget, com `info_type_id = 105`

In [ ]:
%%sql
SELECT *
FROM movie_info_sample
WHERE info_type_id = 105
ORDER BY id
LIMIT 10 OFFSET 5000;

De maneira similar com o que foi feito para obter a informação do faturamento, nós observamos faturamento em diferentes moedas. Vamos usar apenas os filmes com budget em USD.

## Questão 3b:

Agora, nós queremos algo semelhante para o budget do filme, de maneira que seja possível fazer uma operação com `gross` e `budget`. Nós queremos a parte numérica da coluna `info` e o valor **maximum budget value** para um filme particular (como você pode observar, alguns filmes têm mais de um budget).

Na próxima célula,
- Construir uma view chamada `movie_budget` contendo uma linha para cada filme, com os atributos `(budget, movie_id, title)`, onde `budget` é a quantidade numérica em dollars extraído como float.
- Para olhar os dados limpos, escreva uma query `SELECT` para mostrar **os 10 filmes com maior budget**. Quando dois filmes tiverem o mesmo budget, use o `movie_id` para ordenar (de maneira crescente).

**Dica:** a query deve ser bem semelhante a da Questão 3a.

**Dica:** explore os registos para ver se encontra algum padrão.

In [ ]:
%%sql result_3b <<

DROP VIEW IF EXISTS movie_budget;
CREATE VIEW movie_budget AS (
-- sua query aqui
)

---

## Questão 3c

Nós temos todas as partes necessárias para calcular o lucro. Usando as views `movie_gross` e `movie_budget`, nós podemos subtrair as colunas numéricas e salvar o resultado em outra coluna chamada `profit`.

Na próxima célula, construa uma view chamada `movie_profit` contendo uma linha para cada filme, que tem `(movie_id, title, profit)`, onde `profit` é o resultado da subtração do `budget` do `gross`. Seguindo a definição de view, escreva uma query `SELECT` para retornar as **primeiras 10 linhas** da view ordenada de maneira decrescente por `profit`. Esta query poderá ser mais lenta que o normal.

In [ ]:
%%sql result_3c <<

DROP VIEW IF EXISTS movie_profit;
CREATE VIEW movie_profit AS (
-- sua query aqui
)

---

## Questão 3d

Nós analisamos os dados, mas algumas coisas parecem estranhas. Olhando de maneira mais atenta, vamos observar valores negativos para `profit`. Por exemplo, o filme `102 Dalmations` parece ter perdido cerca de $18M, mas foi um filme de sucesso. O que pode ter acontecido? Pense em como nós construímos os nossos dados e responda abaixo.

_Digite a sua resposta aqui._

Se tiver encontrado algum problema nos seus dados, refaça as views de maneira a corrigi-los.

In [ ]:
%%sql
DROP VIEW IF EXISTS movie_profit;
DROP VIEW IF EXISTS movie_budget;
DROP VIEW IF EXISTS movie_gross;

In [ ]:
%%sql result_3a <<

DROP VIEW IF EXISTS movie_gross;
CREATE VIEW movie_gross AS (
-- sua query aqui
)

In [ ]:
%%sql result_3b <<

DROP VIEW IF EXISTS movie_budget;
CREATE VIEW movie_budget AS (
-- sua query aqui
)

In [ ]:
%%sql result_3c <<

DROP VIEW IF EXISTS movie_profit;
CREATE VIEW movie_profit AS (
-- sua query aqui
)

In [ ]:
%%sql
SELECT * FROM movie_profit
WHERE movie_id = 1635380

<hr style="border: 1px solid #fdb515;" />

# Questão 4: Usando os dados limpos

Agora que nós aprendemos como limpar nossos valores financeiros do atributo `info` de `movie_info_sample`, vamos olhar de maneira mais atenta para os dados gerados.

---

## Questão 4a: Faturamento por Género

Outra `info_type` que nós podemos olhar é o genero do filme. Observando os valores de `movie_gross`, quanto cada *genre* faturou em média nos Estados Unidos?

- Crie uma view com as colunas `movie_id`, `title`, `gross`, `genre`, e `average_genre` onde `gross` é o faturamento bruto nos estados unidos, `genre` é o género do filme, e `average_genre` é o faturamento médio para o género correspondente. Se um filme tiver mais de um género, o filme deve aparecer em múltiplas linhas, com cada género em uma linha.
- Seguindo a definição da view, escreva uma query `SELECT` para retornar as linhas para o filme "Mr. & Mrs. Smith" ordenado pelo género em ordem alfabética.

**Dica:** Olhe as [window functions](https://www.postgresql.org/docs/9.1/tutorial-window.html)

In [ ]:
%sql select * from info_type limit 3

In [ ]:
%%sql result_4a <<

DROP VIEW IF EXISTS movie_avg_genre;
CREATE VIEW movie_avg_genre AS (
-- sua query sql aqui
);

In [ ]:
Seguindo a definição da view, escreva uma query `SELECT` para retornar as linhas para o filme "Mr. & Mrs. Smith" ordenado pelo género em ordem alfabética.

In [ ]:
%%sql 
-- sua query aqui

---

## Questão 4b: Analisando o faturamento bruto

Nós podemos olhar os dados usando um boxplot.
Fizemos muito trabalho para transformar o faturamento bruto de strings no atributo `info` para um valor numérico. Graças ao nosso trabalho, nós podemos examinar os dados de maneira mais profunda e entender a sua distribuição. Para fazer isso, nós primeiro precisamos gerar um [five-number summary](https://en.wikipedia.org/wiki/Five-number_summary) e encontrar a média do faturamento grosso nos dados.

- Criar uma view chamada `earnings_summary`, que consiste de uma linha com o resumo das informações da tabela `movie_gross`, com os valores `min`, `_25th_percentile`, `median`, `_75th_percentile`, `max` e `average`.
- Usando a definição da view, escreva uma query `SELECT` para mostrar os resultados.

**Dica:** Olhe as [aggregate functions](https://www.postgresql.org/docs/9.4/functions-aggregate.html).

In [ ]:
%%sql result_4b <<

DROP VIEW IF EXISTS earnings_summary;
CREATE VIEW earnings_summary AS (
-- sua query aqui
)

---

## Questão 4c

O que você nota nos valores gerados em `earnings_summary`? Pode optar por criar um boxplot ou outros gráficos que possam te ajudar na análise. Identifique as propriedads (pense relativamente em moda, skew, espalhamento, etc.).

_Escreva a sua resposta aqui_

# opcional: inclua seus plots aqui

<hr style="border: 1px solid #fdb515;" />

# Questão 5: Joins

Joins são ferramentas poderosas na limpeza e análise de base de dados. Permitem que o utilizador crie tabelas úteis e juntem informações de uma maneira com significado.

Há vários tipso de joins: inner, outer, left, right, etc. Vamos praticar estes joins neste cenário.

Agora você vai trabalhar como um diretor de talento e precisa de uma lista de todas as pessoas que estiveram no papel de `actor` e o número de filmes em que cada um atuou.

- Criar uma view chamada `number_movies`, com as colunas `id`, `name`, `number`, onde `id` é o id do ator, `name` é o nome do ator e `number` é o número de filmes que a pessoa atuou.
- Seguindo a sua view, escreva uma query `SELECT` para mostrar os **10 top atores** que tiveram na maior parte dos filmes.

**Note:** `cast_sample` pode incluir atores que não estão em `actor_sample`. O campo `name` pode ser NULL.

In [ ]:
%%sql result_5 <<

DROP VIEW IF EXISTS number_movies;
CREATE VIEW number_movies AS (
-- sua query aqui
);

## Parabéns! Você concluiu o primeiro projeto!

Para submeter o arquivo, exporte este notebook como pdf e ipynb e faça a submissão de um arquivo zip com os dois arquivos gerados no moodle.